<div class="container">
  <div class="row mt-5">
    <%= form_for @changeset, Routes.user_path(@conn, :update, @user), [class: 'form-inline'], fn f -> %>
      <div class="form-group mx-sm-3 mb-2">
        <%= text_input f, :wish_note, class: "form-control" %>
      </div>
      <%= submit "Update", class: "btn btn-primary mb-2" %>
    <% end %>
  </div>
</div>
