<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container">
    <%= link "Studytube Birthday Reminder", class: "navbar-brand", to: Routes.user_path(@conn, :index) %>
  </div>
</nav>
